@import url(../../styles/variables.scss);

.masterform{
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    label {
        margin-bottom: 0.5em;
        color: var(--dark-red);
        font-weight: bold;
    }

    input {
        padding: 0.8em;
        border: none;
        border-bottom: 1px solid var(--darker-hover-color);
    }

    input::placeholder{
        color: var(--placeholder-color);
    }

}