@import url(../../styles/variables.css);

.dashboard_container {
    padding: 2em;
    width: 100%;
}

.dashboard_title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
}

.dashboard_title h1 {
    color: var(--primary-color);
}