@import url(../../scss/my_variables.scss);

.homewrap {
    h1 {
        font-size: 2em;
        margin-bottom: 0.5em;
        span{
            line-height: 1.75em;
            color: var(--light-accent-color);
            background-color: var(--primary-color);
            padding: 0.15em;
        }
    }
    
    p {
    color: var(--primary-color);
    margin: 1em 0;
    }
}