@import url(../../styles/variables.css);

.homewrap {
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4em;
}

.homewrap h1 {
    color: var(--primary-color);
    font-size: 2em;
    margin-bottom: 0.25em;
}
.homewrap h1 span{
    color: var(--light-accent-color);
    background-color: var(--primary-color);
    padding: 0.15em;
}

.homewrap p {
    color: var(--primary-color);
    margin: 1em 0;
}