@import url(../../styles/variables.scss);

.new_encounterwrap {
    width: 450px;
    margin: 0 auto;
    padding: 3em;
    h1 {
        color: var(--primary-color);
        font-size: 2em;
        margin-bottom: 0.5em;
    }

    p {
            color: var(--primary-color);
            margin: 0.5em 0;
    }

}