@import url(../../styles/variables.css);

.mybutton {
    display: flex;
    align-items: center;
    font-weight: 500;
    color: var(--light-accent-color);
    background-color: var(--primary-color);
    padding: 0.5em 1em;
    text-decoration: none;
    transition: 0.5s;
}
.mybutton svg {
    font-size: 1.5em;
}

.mybutton:hover {
    font-size: 1.05em;
    color: var(--hover-color);
}