@import url(../../styles/variables.css);
.message {
    width: 100%;
    padding: 1em;
    border: 1px solid var(--dark-red);
    margin: 0 auto;
    text-align: center;
    margin-bottom: 2em;
    border-radius: 0.5em;
    font-weight: 500;

}

.success {
color: var(--success-alert-text);
background-color: var(--success-alert);
border-color: var(--success-alert-text);
}

.error {
    color: var(--error-alert-text);
    background-color: var(--error-alert);
    border-color: var(--error-alert-text);
}