@import url(../../styles/variables.css);

.navbar {
    width: 100%;
    display:flex;
    justify-content: space-around;
    background-color: var(--primary-color);
    padding: 1em 0.5em;
}

.navlist {
    display:flex;
    list-style: none;
    align-items: center;

}

.navlist li{
    margin : 0 0.5em;

}

.navlist li a {
    color: var(--light-accent-color);
    text-decoration: none;

}

.navlist li a:hover {
    color: var(--hover-color);

}